<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home | Member List</title>
</head>

<body>
    <div th:replace="fragments/header">...</div>
    <div th:replace="fragments/add :: add('member')">...</div>

    <table class="p-2 table table-striped">
        <thead>
            <tr>
                <th>Actions</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Created</th>
                <th>Last Modified</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="member: ${members}">
                <td>
                    <div th:replace="fragments/action :: action('member', ${member.id})">...</div>
                </td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.email}"></td>
                <td th:text="${member.phoneNumber}"></td>
                <td th:text="${#dates.format(member.createdAt, 'yyyy-MM-dd HH:mm')}"></td>
                <td th:text="${#dates.format(member.updatedAt, 'yyyy-MM-dd HH:mm')}"></td>
            </tr>
        </tbody>
    </table>

</body>

</html>